In [1]:
import pandas as pd

In [2]:
df12 = pd.read_csv('data/201712-citibike-tripdata.csv')
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [3]:
df12.rename(columns = {'Trip Duration': 'tripduration', 'Start Time': 'starttime', 
                      'Stop Time': 'stoptime', 'Gender':'gender', "User Type": "usertype",
                      'Bik ID': 'bikeid', 'Birth Year': 'birth year', 'Start Station ID': 'start station id',
                      'Start Station Name': 'start station name', 'Start Station Latitude': 'start station latitude',
                      'Start Station Longitude': 'start station longitude', 'End Station ID': 'end station id', 
                      'End Station Name': 'end station name', 'End Station Latitude': 'end station latitude',
                      'End Station Longitude': 'end station longitude'}, inplace = True)
df12.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,256,2017-12-01 00:00:00,2017-12-01 00:04:17,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,262,Washington Park,40.691782,-73.973730,18858,Subscriber,1981.0,1
1,325,2017-12-01 00:00:17,2017-12-01 00:05:43,470,W 20 St & 8 Ave,40.743453,-74.000040,490,8 Ave & W 33 St,40.751551,-73.993934,19306,Subscriber,1992.0,1
2,967,2017-12-01 00:00:19,2017-12-01 00:16:26,347,Greenwich St & W Houston St,40.728846,-74.008591,504,1 Ave & E 16 St,40.732219,-73.981656,28250,Subscriber,1992.0,1
3,125,2017-12-01 00:00:20,2017-12-01 00:02:26,3077,Stagg St & Union Ave,40.708771,-73.950953,3454,Leonard St & Maujer St,40.710369,-73.947060,25834,Subscriber,1988.0,1
4,451,2017-12-01 00:00:28,2017-12-01 00:08:00,368,Carmine St & 6 Ave,40.730386,-74.002150,326,E 11 St & 1 Ave,40.729538,-73.984267,14769,Subscriber,1986.0,1

In [4]:
df11 = pd.read_csv('data/201711-citibike-tripdata.csv')
df11.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,297,2017-11-01 00:00:01,2017-11-01 00:04:59,418,Front St & Gold St,40.702240,-73.982578,414,Pearl St & Anchorage Pl,40.702819,-73.987658,24753,Subscriber,1986.0,1
1,269,2017-11-01 00:00:01,2017-11-01 00:04:30,3556,24 St & 41 Ave,40.752709,-73.939740,3126,44 Dr & Jackson Ave,40.747182,-73.943264,19063,Subscriber,1990.0,1
2,285,2017-11-01 00:00:04,2017-11-01 00:04:50,275,Washington Ave & Greene Ave,40.686501,-73.965633,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,29131,Subscriber,1993.0,1
3,478,2017-11-01 00:00:13,2017-11-01 00:08:11,3545,Broadway & W 122 St,40.812056,-73.961255,3316,W 104 St & Amsterdam Ave,40.798994,-73.966217,32841,Customer,NaN,0
4,574,2017-11-01 00:00:20,2017-11-01 00:09:54,458,11 Ave & W 27 St,40.751396,-74.005226,434,9 Ave & W 18 St,40.743174,-74.003664,17697,Subscriber,1975.0,2

In [5]:
df10 = pd.read_csv('data/201710-citibike-tripdata.csv')
df10.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,457,2017-10-01 00:00:00,2017-10-01 00:07:38,479,9 Ave & W 45 St,40.760193,-73.991255,478,11 Ave & W 41 St,40.760301,-73.998842,30951,Subscriber,1985.0,1
1,6462,2017-10-01 00:00:20,2017-10-01 01:48:03,279,Peck Slip & Front St,40.707873,-74.001670,307,Canal St & Rutgers St,40.714275,-73.989900,14809,Customer,NaN,0
2,761,2017-10-01 00:00:27,2017-10-01 00:13:09,504,1 Ave & E 16 St,40.732219,-73.981656,350,Clinton St & Grand St,40.715595,-73.987030,28713,Subscriber,1992.0,1
3,1193,2017-10-01 00:00:29,2017-10-01 00:20:22,3236,W 42 St & Dyer Ave,40.758985,-73.993800,3233,E 48 St & 5 Ave,40.757246,-73.978059,16008,Customer,1992.0,2
4,2772,2017-10-01 00:00:32,2017-10-01 00:46:44,2006,Central Park S & 6 Ave,40.765909,-73.976342,469,Broadway & W 53 St,40.763441,-73.982681,14556,Customer,NaN,0

In [6]:
df9 = pd.read_csv('data/201709-citibike-tripdata.csv')
df9.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,362,2017-09-01 00:00:17,2017-09-01 00:06:19,3331,Riverside Dr & W 104 St,40.801343,-73.971146,3328,W 100 St & Manhattan Ave,40.795000,-73.964500,14530,Subscriber,1993.0,1
1,188,2017-09-01 00:00:21,2017-09-01 00:03:30,3101,N 12 St & Bedford Ave,40.720798,-73.954847,3100,Nassau Ave & Newell St,40.724813,-73.947526,15475,Subscriber,1988.0,1
2,305,2017-09-01 00:00:25,2017-09-01 00:05:30,3140,1 Ave & E 78 St,40.771404,-73.953517,3141,1 Ave & E 68 St,40.765005,-73.958185,30346,Subscriber,1969.0,1
3,223,2017-09-01 00:00:52,2017-09-01 00:04:36,236,St Marks Pl & 2 Ave,40.728419,-73.987140,473,Rivington St & Chrystie St,40.721101,-73.991925,28056,Subscriber,1993.0,1
4,758,2017-09-01 00:01:01,2017-09-01 00:13:40,3427,Lafayette St & Jersey St,40.724305,-73.996010,3431,E 35 St & 3 Ave,40.746524,-73.977885,25413,Subscriber,1987.0,1

In [7]:
df8 = pd.read_csv('data/201708-citibike-tripdata.csv')
df8.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2110,2017-08-01 00:00:00,2017-08-01 00:35:11,470,W 20 St & 8 Ave,40.743453,-74.000040,3289,W 90 St & Amsterdam Ave,40.790179,-73.972889,20954,Subscriber,1978.0,2
1,160,2017-08-01 00:00:10,2017-08-01 00:02:51,348,W Broadway & Spring St,40.724910,-74.001547,151,Cleveland Pl & Spring St,40.722104,-73.997249,15164,Subscriber,1978.0,1
2,1644,2017-08-01 00:00:17,2017-08-01 00:27:41,3165,Central Park West & W 72 St,40.775794,-73.976206,3320,Central Park West & W 100 St,40.793393,-73.963556,17540,Subscriber,1962.0,2
3,323,2017-08-01 00:00:27,2017-08-01 00:05:51,389,Broadway & Berry St,40.710446,-73.965251,3073,Division Ave & Hooper St,40.706913,-73.954417,18705,Subscriber,1990.0,1
4,109,2017-08-01 00:00:41,2017-08-01 00:02:31,3145,E 84 St & Park Ave,40.778627,-73.957721,3147,E 85 St & 3 Ave,40.778012,-73.954071,27975,Subscriber,1983.0,1

In [8]:
citibike_2017 = pd.concat([df8 ,df9 ,df10 ,df11 ,df12])
citibike_2017

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2110,2017-08-01 00:00:00,2017-08-01 00:35:11,470,W 20 St & 8 Ave,40.743453,-74.000040,3289,W 90 St & Amsterdam Ave,40.790179,-73.972889,20954,Subscriber,1978.0,2
1,160,2017-08-01 00:00:10,2017-08-01 00:02:51,348,W Broadway & Spring St,40.724910,-74.001547,151,Cleveland Pl & Spring St,40.722104,-73.997249,15164,Subscriber,1978.0,1
2,1644,2017-08-01 00:00:17,2017-08-01 00:27:41,3165,Central Park West & W 72 St,40.775794,-73.976206,3320,Central Park West & W 100 St,40.793393,-73.963556,17540,Subscriber,1962.0,2
3,323,2017-08-01 00:00:27,2017-08-01 00:05:51,389,Broadway & Berry St,40.710446,-73.965251,3073,Division Ave & Hooper St,40.706913,-73.954417,18705,Subscriber,1990.0,1
4,109,2017-08-01 00:00:41,2017-08-01 00:02:31,3145,E 84 St & Park Ave,40.778627,-73.957721,3147,E 85 St & 3 Ave,40.778012,-73.954071,27975,Subscriber,1983.0,1
5,525,2017-08-01 00:00:54,2017-08-01 00:09:39,3373,3 St & 3 Ave,40.675071,-73.987752,3339,Berkeley Pl & 6 Ave,40.676530,-73.978469,14816,Subscriber,1983.0,2
6,317,2017-08-01 00:01:05,2017-08-01 00:06:23,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,3421,Hoyt St & Warren St,40.684355,-73.989016,27797,Subscriber,1967.0,1
7,201,2017-08-01 00:01:06,2017-08-01 00:04:28,495,W 47 St & 10 Ave,40.762699,-73.993012,449,W 52 St & 9 Ave,40.764618,-73.987895,28611,Subscriber,1986.0,1
8,176,2017-08-01 00:01:08,2017-08-01 00:04:05,423,W 54 St & 9 Ave,40.765849,-73.986905,449,W 52 St & 9 Ave,40.764618,-73.987895,19956,Subscriber,1972.0,1
9,406,2017-08-01 00:01:11,2017-08-01 00:07:57,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3117,Franklin St & Dupont St,40.735640,-73.958660,26437,Subscriber,1989.0,1
10,331,2017-08-01 00:01:19,2017-08-01 00:06:50,3474,6 Ave & Spring St,40.725256,-74.004121,345,W 13 St & 6 Ave,40.736494,-73.997044,18449,Subscriber,1955.0,1
11,290,2017-08-01 00:01:22,2017-08-01 00:06:13,479,9 Ave & W 45 St,40.760193,-73.991255,450,W 49 St & 8 Ave,40.762272,-73.987882,14974,Subscriber,1985.0,1
12,1177,2017-08-01 00:01:33,2017-08-01 00:21:11,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,15839,Subscriber,1987.0,1
13,722,2017-08-01 00:01:37,2017-08-01 00:13:39,3159,W 67 St & Broadway,40.774925,-73.982666,3236,W 42 St & Dyer Ave,40.758985,-73.993800,28083,Subscriber,1952.0,1
14,720,2017-08-01 00:01:38,2017-08-01 00:13:39,379,W 31 St & 7 Ave,40.749156,-73.991600,3466,W 45 St & 6 Ave,40.756687,-73.982577,18896,Customer,NaN,0
15,1850,2017-08-01 00:01:42,2017-08-01 00:32:32,3150,E 85 St & York Ave,40.775369,-73.948034,3255,8 Ave & W 31 St,40.750585,-73.994685,18203,Subscriber,1985.0,1
16,273,2017-08-01 00:01:45,2017-08-01 00:06:18,479,9 Ave & W 45 St,40.760193,-73.991255,450,W 49 St & 8 Ave,40.762272,-73.987882,19392,Subscriber,1989.0,2
17,344,2017-08-01 00:01:56,2017-08-01 00:07:41,377,6 Ave & Canal St,40.722438,-74.005664,383,Greenwich Ave & Charles St,40.735238,-74.000271,27291,Subscriber,1990.0,1
18,2208,2017-08-01 00:01:59,2017-08-01 00:38:47,293,Lafayette St & E 8 St,40.730207,-73.991026,3338,2 Ave & E 99 St,40.786259,-73.945526,28885,Subscriber,1976.0,2
19,302,2017-08-01 00:01:58,2017-08-01 00:07:01,3159,W 67 St & Broadway,40.774925,-73.982666,513,W 56 St & 10 Ave,40.768254,-73.988639,28834,Subscriber,1974.0,1
20,383,2017-08-01 00:02:01,2017-08-01 00:08:24,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,3402,Court St & State St,40.690238,-73.992031,19807,Subscriber,1982.0,2
21,1471,2017-08-01 00:02:01,2017-08-01 00:26:33,3478,2 Ave & 36 St - Citi Bike HQ at Industry City,40.657089,-74.008702,3049,Cambridge Pl & Gates Ave,40.684880,-73.963040,24998,Subscriber,1992.0,1
22,555,2017-08-01 00:02:02,2017-08-01 00:11:17,293,Lafayette St & E 8 St,40.730207,-73.991026,546,E 30 St & Park Ave S,40.744449,-73.983035,27793,Subscriber,1985.0,2
23,373,2017-08-01 00:02:10,2017-08-01 00:08:24,285,Broadway & E 14 St,40.734546,-73.990741,251,Mott St & Prince St,40.723180,-73.994800,16208,Subscriber,1988.0,1
24,316,2017-08-01 00:02:11,2017-08-01 00:07:28,3263,Cooper Square & E 7 St,40.729236,-73.990868,432,E 7 St & Avenue A,40.726218,-73.983799,19806,Subscriber,1993.0,1
25,630,2017-08-01 00:02:13,2017-08-01 00:12:44,396,Lefferts Pl & Franklin Ave,40.680342,-73.955769,343,Clinton Ave & Flushing Ave,40.697940,-73.969868,16818,Subscriber,1993.0,2
26,677,2017-08-01 00:02:24,2017-08-01 00:13:41,379,W 31 St & 7 Ave,40.749156,-73.991600,3466,W 45 St & 6 Ave,40.756687,-73.982577,14592,Customer,NaN,0
27,380,2017-08-01 00:02:34,2017-08-01 00:08:54,457,Broadway & W 58 St,40.766953,-73.981693,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,15220,Subscriber,1976.0,1
28,200,2017-08-01 00:02:52,2017-08-01 00:06:12,504,1 Ave & E 16 St,40.732219,-73.981656,545,E 23 St & 1 Ave,40.736502,-73.978095,17433,Subscriber,1971.0,2
29,630,2017-08-01 00:02:54,2017-08-01 00:13:25,3141,1 Ave & E 68 St,40.765005,-73.958185,2023,E 55 St & Lexington Ave,40.759681,-73.970314,29803,Subscriber,1993.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889937,1287,2017-12-31 23:40:35,2018-01-01 00:02:02,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,19064,Subscriber,1983.0,1
889938,1279,2017-12-31 23:40:35,2018-01-01 00:01:55,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,32939,Subscriber,1983.0,2
889939,482,2017-12-31 23:40:38,2017-12-31 23:48:41,379,W 31 St & 7 Ave,40.749156,-73.991600,507,E 25 St & 2 Ave,40.739126,-73.979738,16313,Subscriber,1993.0,1
889940,1303,2017-12-31 23:40:49,2018-01-01 00:02:33,531,Forsyth St & Broome St,40.718939,-73.992663,498,Broadway & W 32 St,40.748549,-73.988084,28788,Subscriber,1987.0,1
889941,322,2017-12-31 23:41:35,2017-12-31 23:46:58,499,Broadway & W 60 St,40.769155,-73.981918,3165,Central Park West & W 72 St,40.775794,-73.976206,19080,Subscriber,1988.0,1
889942,1461,2017-12-31 23:42:45,2018-01-01 00:07:07,3135,E 75 St & 3 Ave,40.771129,-73.957723,3135,E 75 St & 3 Ave,40.771129,-73.957723,33034,Subscriber,1968.0,1
889943,257,2017-12-31 23:43:23,2017-12-31 23:47:40,349,Rivington St & Ridge St,40.718502,-73.983299,401,Allen St & Rivington St,40.720196,-73.989978,30823,Subscriber,1993.0,1
889944,347,2017-12-31 23:43:57,2017-12-31 23:49:44,3637,Fulton St & Waverly Ave,40.683239,-73.965996,120,Lexington Ave & Classon Ave,40.686768,-73.959282,25776,Subscriber,1983.0,1
889945,87,2017-12-31 23:44:23,2017-12-31 23:45:50,515,W 43 St & 10 Ave,40.760094,-73.994618,3236,W 42 St & Dyer Ave,40.758985,-73.993800,29177,Subscriber,1967.0,1
889946,177,2017-12-31 23:45:29,2017-12-31 23:48:26,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,3419,Douglass St & 4 Ave,40.679279,-73.981540,33045,Subscriber,1989.0,1
889947,225,2017-12-31 23:45:43,2017-12-31 23:49:29,3260,Mercer St & Bleecker St,40.727064,-73.996621,403,E 2 St & 2 Ave,40.725029,-73.990697,31102,Subscriber,1987.0,1
889948,531,2017-12-31 23:46:10,2017-12-31 23:55:02,423,W 54 St & 9 Ave,40.765849,-73.986905,448,W 37 St & 10 Ave,40.756604,-73.997901,19007,Subscriber,1955.0,2
889949,184,2017-12-31 23:46:15,2017-12-31 23:49:20,3431,E 35 St & 3 Ave,40.746524,-73.977885,472,E 32 St & Park Ave,40.745712,-73.981948,33182,Subscriber,1970.0,1
889950,189,2017-12-31 23:46:43,2017-12-31 23:49:52,504,1 Ave & E 16 St,40.732219,-73.981656,487,E 20 St & FDR Drive,40.733143,-73.975739,31315,Subscriber,1986.0,1
889951,313,2017-12-31 23:47:24,2017-12-31 23:52:37,513,W 56 St & 10 Ave,40.768254,-73.988639,3236,W 42 St & Dyer Ave,40.758985,-73.993800,26542,Subscriber,1984.0,1
889952,788,2017-12-31 23:47:55,2018-01-01 00:01:04,2008,Little West St & 1 Pl,40.705693,-74.016777,249,Harrison St & Hudson St,40.718710,-74.009001,30785,Subscriber,1985.0,1
889953,263,2017-12-31 23:48:35,2017-12-31 23:52:58,3086,Graham Ave & Conselyea St,40.715143,-73.944507,3106,Driggs Ave & N Henry St,40.723250,-73.943080,31022,Subscriber,1981.0,0
889954,487,2017-12-31 23:48:39,2017-12-31 23:56:47,3077,Stagg St & Union Ave,40.708771,-73.950953,389,Broadway & Berry St,40.710446,-73.965251,25366,Subscriber,1985.0,1
889955,1323,2017-12-31 23:48:48,2018-01-01 00:10:52,236,St Marks Pl & 2 Ave,40.728419,-73.987140,430,York St & Jay St,40.701485,-73.986569,31643,Subscriber,1996.0,1
889956,952,2017-12-31 23:49:16,2018-01-01 00:05:08,455,1 Ave & E 44 St,40.750020,-73.969053,3238,E 80 St & 2 Ave,40.773914,-73.954395,31959,Subscriber,1953.0,1
889957,411,2017-12-31 23:49:34,2017-12-31 23:56:25,3288,E 88 St & 1 Ave,40.778301,-73.948813,3292,5 Ave & E 93 St,40.785785,-73.957481,26930,Subscriber,1991.0,1
889958,433,2017-12-31 23:49:36,2017-12-31 23:56:50,3288,E 88 St & 1 Ave,40.778301,-73.948813,3292,5 Ave & E 93 St,40.785785,-73.957481,31549,Subscriber,1990.0,1
889959,606,2017-12-31 23:50:04,2018-01-01 00:00:11,515,W 43 St & 10 Ave,40.760094,-73.994618,494,W 26 St & 8 Ave,40.747348,-73.997236,32812,Subscriber,1967.0,1
889960,1088,2017-12-31 23:50:08,2018-01-01 00:08:16,296,Division St & Bowery,40.714131,-73.997047,174,E 25 St & 1 Ave,40.738177,-73.977387,24875,Subscriber,1979.0,2
889961,429,2017-12-31 23:52:25,2017-12-31 23:59:34,447,8 Ave & W 52 St,40.763707,-73.985162,3172,W 74 St & Columbus Ave,40.778567,-73.977550,29712,Subscriber,1982.0,1
889962,397,2017-12-31 23:54:22,2018-01-01 00:01:00,3417,Baltic St & 5 Ave,40.679577,-73.978550,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,30841,Subscriber,1957.0,2
889963,332,2017-12-31 23:54:44,2018-01-01 00:00:16,3236,W 42 St & Dyer Ave,40.758985,-73.993800,513,W 56 St & 10 Ave,40.768254,-73.988639,30417,Subscriber,1984.0,1
889964,565,2017-12-31 23:56:07,2018-01-01 00:05:33,254,W 11 St & 6 Ave,40.735324,-73.998004,411,E 6 St & Avenue D,40.722281,-73.976687,16125,Subscriber,1991.0,1
889965,1659,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,40.773407,-73.977825,33328,Subscriber,1988.0,2
889966,1279,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,40.776321,-73.964274,31023,Subscriber,1968.0,2

In [9]:
citibike_2017.to_csv('citibike_2017.csv', sep = ',')